* {
    box-sizing: border-box;
}


/* html {
    text-align: center;
} */

/* body {
    background-image: url('https://static.gbtimes.com/uploads/files/2018-05/11/Marvel_Avengers_Infinity_War_China_cropped.jpg');
    
    width: 100%;
    height: 1000px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
} */


body {
    width: 80%;
    margin: 0 auto;
}
.gauntlet {
    width: 100px;
    height: 100px;
}

.question-box {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 0 15px 20px 15px;
    margin-bottom: 20px;
    text-align: center;
    
}

.question-box > img {
    width: 50%;
    height: 300px;
    border-radius: 5px;
    margin-top: 5px;
}

.question {
    background-color: lightsalmon;
    border-radius: 10px;
}

.button {
    margin: 10px 0 0 10px;;
}
