* {
    box-sizing: border-box;
}


/* html {
    text-align: center;
} */

/* body {
    background-image: url('https://static.gbtimes.com/uploads/files/2018-05/11/Marvel_Avengers_Infinity_War_China_cropped.jpg');
    
    width: 100%;
    height: 1000px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
} */


body {
    background: url('https://images2.imgbox.com/f9/46/qQLWilUQ_o.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    color: black;
    width: 80%;    
    margin: 0 auto;
    text-align: center;
}
header {
    display: inline-block;
}

h1 {
    margin: 50px 0 100px 0;
}

.header-logo {
    width: 100px;
    height: 100px;
}
.score-box {
   
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.gauntlet {
    width: 300px;
    height: 300px;
}

.question-box {
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 0px 15px 20px 15px;
    margin-bottom: 20px;
    text-align: center;
    
}

.question-box > img {
    width: 60%;
    height: 400px;
    border-radius: 5px;
    margin-top: 5px;
}

.question {
    background-color: #F7E9A8;
    border-radius: 10px;
    padding: 10px 0;
    margin-top: 10px;
}

 .each-question {
    width: 200px;
    background-color: #785F15;
    color: white;
    border-radius: 5px;
    margin-bottom:10px;
    padding-top: 5px;
    height: auto;
     /* display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center; */
} 

 .button-container {
     font-size: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
   
} 

  span > label {
      line-height: auto;
     position: relative;
    bottom: 2px;
}   

:focus{
    outline:none;
  }
  .button{
    -webkit-appearance:button;
    -moz-appearance:button;
    appearance:button;
    border:4px solid #ccc;
    border-top-color:#bbb;
    border-left-color:#bbb;
    background:#fff;
    width:20px;
    height:20px;
    border-radius:50%;
  }
  .button:checked{
    border:5px solid #4099ff;
  }

    .result-pic {
      width: 100%;
      margin: 50px 0;
  }  


  .right-answer-box {
      display: block;
      width: 400px;
      margin: 0 auto;
  }

  .answer {
      font-weight: bold;
  }

  input[type='submit'] {
      font-weight: bold;
  }

  @media only screen and (min-width: 320px) and (max-width: 375px) and (min-height: 500px) and (max-height: 720px) {
    body {
        margin: 0 auto;
        width: 100%;
    }
    .question-box > img {
        height: 150px;
    }

    h1 {
        margin: 10px 0;
    }

    h3 {
        font-size: 15px;
    }
    .each-question > label {
        font-size: 15px;
        
        
    }
    .right-answer-box {
        width: 100%;
    }
    .button-container {
          
        display: block;
    }
  }

  @media only screen and (min-width: 375px) and (max-width: 1024px) {
      body {
    background-size: cover;
    position: relative;
    height:1000px;
    overflow: hidden;
    width: 100%;    
    

      }

      h1 {
          margin: 10px 0;
      }

      .question-box {
          padding-bottom: 0px;
      }
      .question-box > img {
        width: 100%;
        height: 200px;
        border-radius: 5px;
        margin-top: 5px;
       }

      

       .each-question > label {
           font-size: 1em;
           
       }

       h3 {
           font-size: 20px;
       }


      
      .button-container {
          
          display: block;
      }

      .each-question {

          padding: 5px;
         
      }

    
      
      
  } 
 
 